{% extends "@FOSUser/layout.html.twig" %}
{% block fos_user_content %}
    <a href="{{ path('fos_user_registration_register') }}">register</a>
    {{ include('@FOSUser/Security/login_content.html.twig') }}
{% endblock fos_user_content %}